@{
    ViewData["Title"] = "Home Page";
}
@model UserModel
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body text-center">
                <div class="col-md-8">
                    <form asp-action="Index" asp-controller="Home" method="post">
                        <label asp-for="Name" class="input-group-text"></label>
                        <input asp-for="Name" class="form-control" />
                        <label asp-for="Password" class="input-group-text"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <input type="submit" name="name" value="Save" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>