@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="panel">
        <h3 class="">Welcome!</h3>
        <p>@ViewData["Message"]</p>
        <p>
            Thanks for login picture. This picture in
            <a href="https://unsplash.com/photos/0kEvX-9hJyQ" target="_blank">
                <span class="text-white">Unsplash</span>
            </a>
        </p>
    </div>
</div>
